.tabpart li{
    width: 180px;
}

.automailingblock {
    overflow: auto;
}

/*.automailingblock a ,.automailingblock a.emailbtn{
    background: #1abc9c;
    display: inline-block;
    border-radius: 8px;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 30px 45px;
}*/
.automailingblock a ,.automailingblock a.emailbtn{
    background: #34495e none repeat scroll 0 0;
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 10px 20px 10px 45px;
    padding: 10px 15px;
    float: right;
}
.automailingblock a img{
    margin-right: 5px;    
}
.mailingtabledtl{
    width: 100%;
    clear: both;
}
.dataTables_wrapper.form-inline.dt-bootstrap.no-footer {
    clear: both;
    overflow: hidden;
}
.mailingtabledtl a.deletebtn{
    padding: 0;
    background: none;
    margin: 0;
    float: none;
    font-size: 0;
}
.mailingtabledtl a.deletebtn img{
    height: auto;
    margin-left: 50px;
    width: 25px;
}
.mailingtable {
    margin: auto;
    width: 94%;
} 
.mailingtable .tchackboc{
    width: 50px;
}
.mailingtable .tselectbox {
    width: 150px;
}
.mailingtable tr{
    border-bottom: 2px solid #d7dcde;
}
.mailingtable tr th{
    color: #2c3e50;
    font-size: 16px;
    /*font-weight: 600;*/
    padding:10px; 
}
/*.mailingtable tr td{
    padding: 20px 10px;
}*/
.mailingtable tr td.greenttxt h2{
    color: #1abc9c;
    font-size: 22px;
    font-weight: 600;
}
.mailingtable tr td p{
    color:#95a0aa;
    font-size: 22px;
}
.icheckbox_flat-green.checked {
    background-position: -22px 0;
}
.icheckbox_flat-green {
    background-position: 0 0;
}
.icheckbox_flat-green, .iradio_flat-green {
    background:url("../img/green.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 20px;
}
.editbtn button {
    background: #bec3c7;
    border: medium none;
    border-radius: 5px;
    font-size: 16px;
    height: 41px;
    text-align: left;
    width: 100%;
}
.editbtn button span {
    float: left;
}
.editbtn button .caret {
    border-width: 6px 6px 0;
    float: right;
    margin-top: 10px;
}
.editbtn .dropdown-menu {
    border: 2px solid #1bbc9b;
    width: 100%;
}
.editbtn .dropdown-menu > li {
    overflow: auto;
    padding: 5px 10px;
}
.editbtn .dropdown-menu li span {
    color: #69737f;
    float: left;
    font-weight: bold;
}
.editbtn .dropdown-menu li:hover {
    background: #1bbc9b none repeat scroll 0 0;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background: #1bbc9b;
}

.ttitleblock{
    overflow: hidden;
}
.ttitleblock h2{
    float: left;
}
.ttitleblock span{
    background: #f86b4f;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 6px 0 0 4px;
    text-align: center;
    width: 16px;
}
.greenttxt p{
    color: #95a0aa;
    font-size: 18px;
    display: block;
}
.greenttxt p span{
    font-weight: 600;
}
.mailingstatic{
    
}
.mailingstatic p{
    color: #95a0aa;
    font-size: 18px;
    display: block;
}

.mailingstatic span{
    color: #95a0aa;
    font-size: 18px;
    display: block;
    font-weight: 600;
}


.mailingstaticlft{
    width: 130px;
    float: left;
}
.automailingblock a.emailbtn{
    float: right;
    margin: 50px 45px 50px 0;
}
.tchackboc a.deletebtn img{
    margin: 0;
}
.tchackboc a.deletebtn{
    display: block;
    left: -25px;
    margin-bottom: 10px;
    position: absolute;
}


.manualbtn{
    width: 100%;
    clear: both;
}
.manualbtn a {
    float: left;
    padding: 15px 25px;
    background: none;
    display: inline-block;
    color: #95a0aa;
    border-radius: 5px;
}
.manualbtn a:last-child{
    margin-left: 5px;
    margin-right: 0;
}

.manualbtn a.sentbtn i{
    background: url('../img/senticon.png') no-repeat;
    padding: 5px 22px;
}
.manualbtn a.draftbtn i{
    background: url('../img/drafticon.png') no-repeat;
    padding: 3px 22px;
}
.manualbtn a .notiblk{
    background: #95a0aa none repeat scroll 0 0;
    border-radius: 14px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 20px;
    line-height: normal;
    margin-left: 10px;
    padding: 0;
    text-align: center;
    width: 20px;
}
.manualbtn a.active ,.manualbtn a:hover{
    background: #1abc9c;
    color: #fff;
}
.manualbtn a.sentbtn.active i ,.manualbtn a.sentbtn:hover i{
    background: url('../img/senticon_active.png') no-repeat;
}
.manualbtn a.draftbtn.active i , .manualbtn a.draftbtn:hover i {
    background: url('../img/drafticon_active.png') no-repeat;
}

.manualbtn a.active .notiblk ,.manualbtn a:hover .notiblk{
    background: #fff;
    color: #1abc9c;
}


@media screen and (max-width:1330px){
    .mailingtable .tchackboc {width: 25px;}
    .ttitleblock span{width: 15px;height: 15px;font-size: 11px;}
    .mailingtable tr td.greenttxt h2{font-size: 20px;}
    .mailingtable tr td p{font-size: 20px;}
    .mailingstatic p{font-size: 18px;}
    .mailingstaticlft{width: 100px;}
}
@media screen and (max-width:1280px){
    .manualbtn a.draftbtn i{background-size: 26px auto !important;}
    .manualbtn a.sentbtn i{background-size: 32px auto !important;}
    .manualbtn a{padding: 10px 20px;}
}

@media screen and (max-width:1150px){
    .mailingtable tr td{padding: 15px 10px;}
}
@media screen and (max-width:991px){
    .mailingtable tr td p {font-size: 18px;}
    .mailingstaticlft {width: 60px;}
}

@media screen and (max-width:460px){
    .mailingtable{overflow: auto;}
    .editbtn button{width: 130px;}
    .manualbtn a{margin-left: 15px;margin-right: 10px;}
    .manualbtn a.draftbtn i{background-size: 20px auto !important;padding: 0px 15px;}
    .manualbtn a.sentbtn i{background-size: 25px auto !important;padding: 1px 18px;}
    .manualbtn a {padding: 10px 15px;}
}




