@import url('../fonts/stylesheet.css');

.graph-funnel-container .graph-funnel-dividers line {
    fill: none;
    stroke: #666;
    stroke-dasharray: 2 2;
    stroke-width: 1;
}
.tabpart li{
    width: 180px;
}

.automailingblock {
    overflow: auto;
}

/*.automailingblock a ,.automailingblock a.emailbtn{
    background: #1abc9c;
    display: inline-block;
    border-radius: 8px;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 30px 45px;
}*/
.automailingblock a ,.automailingblock a.emailbtn{
    background: #34495e none repeat scroll 0 0;
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 10px 20px 10px 45px;
    padding: 10px 15px;
    float: right;
}
.automailingblock a img{
    margin-right: 5px;    
}
.mailingtabledtl{
    width: 100%;
    clear: both;
}
.dataTables_wrapper.form-inline.dt-bootstrap.no-footer {
    clear: both;
    overflow: hidden;
}
.mailingtabledtl a.deletebtn{
    padding: 0;
    background: none;
    margin: 0;
    float: none;
    font-size: 0;
}
.mailingtabledtl a.deletebtn img{
    height: auto;
    margin-left: 50px;
    width: 25px;
}
.mailingtable {
    margin: auto;
    width: 94%;
} 
.mailingtable .tchackboc{
    width: 50px;
}
.mailingtable .tselectbox {
    width: 150px;
}
.mailingtable tr{
    border-bottom: 2px solid #d7dcde;
}
.mailingtable tr th{
    color: #2c3e50;
    font-size: 16px;
    /*font-weight: 600;*/
    padding:10px; 
}
/*.mailingtable tr td{
    padding: 20px 10px;
}*/
.mailingtable tr td.greenttxt h2{
    color: #1abc9c;
    font-size: 22px;
    font-weight: 600;
}
.mailingtable tr td p{
    color:#95a0aa;
    font-size: 22px;
}
.icheckbox_flat-green.checked {
    background-position: -22px 0;
}
.icheckbox_flat-green {
    background-position: 0 0;
}
.icheckbox_flat-green, .iradio_flat-green {
    background:url("../img/green.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 20px;
}
.editbtn button {
    background: #bec3c7;
    border: medium none;
    border-radius: 5px;
    font-size: 16px;
    height: 41px;
    text-align: left;
    width: 100%;
}
.editbtn button span {
    float: left;
}
.editbtn button .caret {
    border-width: 6px 6px 0;
    float: right;
    margin-top: 10px;
}
.editbtn .dropdown-menu {
    border: 2px solid #1bbc9b;
    width: 100%;
}
.editbtn .dropdown-menu > li {
    overflow: auto;
    padding: 5px 10px;
}
.editbtn .dropdown-menu li span {
    color: #69737f;
    float: left;
    font-weight: bold;
}
.editbtn .dropdown-menu li:hover {
    background: #1bbc9b none repeat scroll 0 0;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background: #1bbc9b;
}

.ttitleblock{
    overflow: hidden;
}
.ttitleblock h2{
    float: left;
}
.ttitleblock span{
    background: #f86b4f;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 6px 0 0 4px;
    text-align: center;
    width: 16px;
}
.greenttxt p{
    color: #95a0aa;
    font-size: 18px;
    display: block;
}
.greenttxt p span{
    font-weight: 600;
}
.mailingstatic{
    
}
.mailingstatic p{
    color: #95a0aa;
    font-size: 18px;
    display: block;
}

.mailingstatic span{
    color: #95a0aa;
    font-size: 18px;
    display: block;
    font-weight: 600;
}


.mailingstaticlft{
    width: 130px;
    float: left;
}
.automailingblock a.emailbtn{
    float: right;
    margin: 50px 45px 50px 0;
}
.tchackboc a.deletebtn img{
    margin: 0;
}
.tchackboc a.deletebtn{
    display: block;
    left: -25px;
    margin-bottom: 10px;
    position: absolute;
}


.manualbtn{
    width: 100%;
    clear: both;
}
.manualbtn a {
    float: left;
    padding: 15px 25px;
    background: none;
    display: inline-block;
    color: #95a0aa;
    border-radius: 5px;
}
.manualbtn a:last-child{
    margin-left: 5px;
    margin-right: 0;
}

.manualbtn a.sentbtn i{
    background: url('../img/senticon.png') no-repeat;
    padding: 5px 22px;
}
.manualbtn a.draftbtn i{
    background: url('../img/drafticon.png') no-repeat;
    padding: 3px 22px;
}
.manualbtn a .notiblk{
    background: #95a0aa none repeat scroll 0 0;
    border-radius: 14px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 20px;
    line-height: normal;
    margin-left: 10px;
    padding: 0;
    text-align: center;
    width: 20px;
}
.manualbtn a.active ,.manualbtn a:hover{
    background: #1abc9c;
    color: #fff;
}
.manualbtn a.sentbtn.active i ,.manualbtn a.sentbtn:hover i{
    background: url('../img/senticon_active.png') no-repeat;
}
.manualbtn a.draftbtn.active i , .manualbtn a.draftbtn:hover i {
    background: url('../img/drafticon_active.png') no-repeat;
} 
.manualbtn a.active .notiblk ,.manualbtn a:hover .notiblk{
    background: #fff;
    color: #1abc9c;
}


/*----- email plateform automatic 14-march -----*/

.automaticMailing{
    overflow: hidden;
}
.mailingicon {
    margin: 0 6px 0 0 !important;
}
.mailingicon img {
    position: relative;
    top: -3px;
    width: 30px;
}
.newautomaticplatform{
    padding: 90px 0;
}
.mailplateformnewtable{
    width: 96%;
    margin: 0 auto;
}
.mailplateformnewtable thead{
    border-bottom: 2px solid #d7dcde;
}
.mailplateformnewtable thead th{
    font-family: 'latobold';
    font-size: 24px;
    color: #2c3e50; 
    padding:10px 5px;
    text-align: center;
}
.mailplateformnewtable thead th:first-child{
    width: 30%;
}
.mailplateformnewtable thead th:nth-child(2){
    width: 40%;
    text-align: left;
}
.mailplateformnewtable thead th:nth-child(3){
    width: 15%;
}
.mailplateformnewtable thead th:last-child{
    width: 15%;
}
.mailplateformnewtable tbody tr td:nth-child(3){
    text-align: center;
}
.mailplateformnewtable tbody tr td:first-child{
    text-align: center;
}
.mailplateformnewtable tbody tr td{
    padding: 10px 5px;
    font-size: 22px;
    font-family: 'latoregular';
    color: #95a0aa;
}
.mailplateformnewtable tbody tr td img{
    float: left;
}
.mailplateformnewtable tbody tr td span{ 
    font-family: 'latobold';
    color: #1abc9c; 
    margin-right: 15px;
    display: inline-block;
    margin-top: 12px;
}
.mailplateformnewtable tbody tr{
    border-bottom: 2px solid #d7dcde;
}
.mailplateformnewtable tbody tr td canvas {
    height: 50px !important;
    width: 100px !important;
}
.switch {
    margin: auto;
    width: 90px;
}
.switch input.cmn-toggle-round + label{
    height: 25px;
    width: 87px; 
}
.switch input.cmn-toggle-round + label::before{
    border-radius: 5px;
    background: url('../img/crossicon.png') no-repeat #bdc3c7;
    background-position:60% center;
}
.switch  input.cmn-toggle-round:checked + label::before{
    background: url('../img/righticon_green1.png') no-repeat #2c3e50;
    background-position: center;
    background-position:40% center;
}
.switch input.cmn-toggle-round + label::after{
    width: 25px;
    border-radius: 5px 0 0 5px;
    box-shadow: none;
    background: #7f8c8d;
}
.switch input.cmn-toggle-round:checked + label::after{
    width: 25px;
    border-radius:0 5px 5px 0;
    box-shadow: none;
    background: #1abc9c;
}



.emailreviewblock{
    border: 2px dotted #d7dcde;
    margin: 40px 30px;
    padding: 25px 15px;
    overflow: hidden;
}
.reviewblockdetail{
    
}
.reviewtitle{
    float: left;
    width: 100%;
}
.reviewtitle .switch {
    float: left;
    margin: 3px 10px 0 0;
}
.reviewtitle h2{
    font-size: 32px;
    font-family: 'proxima_novalight';
}
.emailreviewblock .box-title{ 
    font-family: 'proxima_nova_rgregular';
}
.reviewblockdetail p{
    color: #646262;
    font-size: 16px;
    font-family: 'proxima_novalight';
    margin: 15px 0;
    display: inline-block;
}
.urlreviewblock{
    
}
.urlreviewblock .urlreview input{
    background: url('../img/linkicon.png') no-repeat right center #fff;
    border: 2px solid #bdc3c7;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    padding: 5px 40px 5px 10px;
    color: #34495e;
    float: left;
    margin-top: 10px;
    width: 100%; 
}
.urlreview{
    width: 50%;
    float: left;
    position: relative;
}
.urlreviewblock.successful .urlreview:after ,.urlreviewblock.error .urlreview:after{
    content: "";
    display: block;
    height: 25px;
    position: absolute;
    right: -40px;
    top: 17px;
    width: 31px;
    z-index: 100;
}
.urlreviewblock.successful .urlreview:after{
    background: url('../img/rightgreenicon.png') no-repeat;
}
.urlreviewblock.error .urlreview:after{
    background: url('../img/crossred.png') no-repeat;
}
.reviewimg{
    overflow: hidden;
    float:right;
}
.reviewimg li{
    display: inline-block;
}
.reviewimg li i{
    width: 54px;
    height: 54px;
    display: block;
    background: url('../img/reviewimg.png') no-repeat; 
}
.urlreviewblock p{
    display: none;  
}
.urlreviewblock.successful input{ 
    border-color: #16a085;
    color: #16a085;
}
.urlreviewblock.error input{
    border-color: #e74c3c;
    color: #e74c3c;
} 
.urlreviewblock.successful .successnote  ,.urlreviewblock.error .errornote{
    color: rgba(26,188,156,0.6);
    font-size: 15px;
    font-family: 'proxima_novalight';
    display: inline-block;
    width: 100%;
    margin: 0;
}
.urlreviewblock.successful .successnote{
    color: rgba(26,188,156,0.6); 
}
.urlreviewblock.error .errornote{
    color: rgba(231,76,60,0.6);
}
.urlreviewblock.successful .errornote{
    display: none;
}
.urlreviewblock.error .successnote{
    display: none;
}
.emailreviewblock .box{
    box-shadow: none;
}
.reviewimg li i.tripimg{ 
    background-position: 0 0;
}
.reviewimg li i.yoffimg{ 
    background-position: -54px 0;
}
.reviewimg li i.gplusimg{
    background-position: -108px 0;
}
.reviewimg li i.fbimg{
    background-position: -162px 0;
}
.reviewimg li.active i.tripimg{ 
    background-position: 0 -56px;
}
.reviewimg li.active i.yoffimg{ 
    background-position: -54px -56px;
}
.reviewimg li.active i.gplusimg{ 
    background-position: -108px -56px;
}
.reviewimg li.active i.fbimg{ 
    background-position: -162px -56px;
}

.selectbox{
    width: 100%;
}
.selectbox select{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none; 
    border-radius: 6px;
    background:url('../img/downarrow.png') no-repeat right #1abc9c; 
    width: 215px;
    height: 40px; 
    border: none;
    color: #fff;
    font-size: 14px;
    font-family: 'latoregular';
    padding-left: 10px;
    line-height: 40px;
    position: relative;
} 
.selectbox select option{
    background: #1abc9c;
    padding: 8px;
}
.selectbox select option:hover{
    background-color: #34495e !important;
}
.reviewtabdetial{
    margin: 15px;
}
.reviewtabdetial .tab-pane{
    padding: 30px 30px 15px 30px;
}
.tabdetailtitle{
    border-top: 1px solid #f3f0f0;
    border-bottom: 1px solid #f3f0f0;
    padding: 10px 0;
    overflow: hidden;
}
.tabdetailtitleleft{
    float: left;
}
.tabdetailtitleleft h3{
    font-size: 21px;
    color: #646262;
    font-family: 'proxima_nova_rgregular';
}
.tabdetailtitleleft span ,.tabdetailtitleright span ,.rtabcontentdetail p{
    font-size: 14px;
    color: #646262;
    font-family: 'proxima_nova_rgregular';
}
.tabdetailtitleright{
    float: right;
}
.tabdetailtitleright span {
    display: inline-block;
    margin-top: 12px;
}
.rtabcontentdetail{
    border-top: 1px solid #f3f0f0;
    margin:20px 0; 
}
.rtabcontentdetail p{
    margin: 10px 0;
}
.reviewtabdetial .nav.nav-tabs a{
    font-size: 23px;
    color: #5d5d5d;
    font-family: 'proxima_nova_rgregular';
}
.reviewtabdetial .nav-tabs{
    border-bottom: 1px dotted #d7dcde;
}
.reviewtabdetial .nav-tabs > li.active > a, .reviewtabdetial .nav-tabs > li.active > a:focus, .reviewtabdetial .nav-tabs > li.active > a:hover{
    border-color: #067cde #d7dcde transparent;
    border-style: dotted;
    border-width: 2px 1px 0;
}
.reviewtabdetial .tab-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #d7dcde #d7dcde;
    border-image: none;
    border-style: none dotted dotted;
    border-width: 0 1px 1px;
}


/*----- email plateform automatic 14-march -----*/


/*----- email plateform automatic 16-march new css start -----*/

.manualmailblock{
    margin: 40px 0;
}
.manualmailingdata{
    margin: 50px 0 30px;
    overflow: auto;
}
.manualdatadesc{
    width: 25%;
    float: left;
    height: 200px;
    position: relative;
    
}
.manualdatadesc:after ,.manualdatadesc:before{
    position: absolute;
    border-right: 2px dotted #636162;
    display: block;
    content:'';
    right: 0;
    top: 0;
    bottom: 0;
}
.manualdatadesc:first-child:before{
    left: 0 !important;
    right: auto;
}
.manual_titleblock{
    padding: 10px 20px;
    min-height: 50px;
}
.manual_titleblock h3 ,.manual_titleblock span{
    font-size: 14px;
    color: #55555a;
    font-family: 'proxima_novasemibold';
    text-transform: uppercase;
}
.manual_titleblock span{
    font-family: 'proxima_nova_rgbold';
}
.manualdatadetail{
    display: table;
    width: 100%;
    height: 125px;
    text-align: left;
    background: #009bdb;
    padding-left: 15px;
}
.manualdatadetail span{
    display: table-cell;
    vertical-align: middle;
    font-size: 15px;
    color: #fff;
    font-family: 'proxima_nova_rgregular'; 
}
.manualdatadetail2{
    background: #27aae0;
}
.manualdatadetail3{
    background: #4db9e6;
}
.manualdatadetail4{
    background: #73c8eb ;
}
.manualdatadescblock{
    height: 80px;
    text-align: center;
    border:1px solid #646262; 
    padding-top: 15px;
}
.manualdatadescblock.active{
    border-color: #009bdb;
    background: #009bdb;
}
.manualdatadescblock span{
    color: #646262;
    font-size: 15px;
    font-family: 'proxima_nova_rgregular';
}
.manualdatadescblock.active span ,.manualdatadescblock.active p{
    color: #fff;
}
.manualdatadescblock span i{
    display: inline-block;
    width: 18px;
    left: 8px;
    position: relative;
    top: 3px;
}
.manualdatadescblock p{
    color: #646262;
    font-family: 'proxima_nova_rgregular';
    font-size: 15px;
    text-transform: uppercase;
}
.manualdatadescblock span i.targeticon{
    background: url('../img/targeticon.png') no-repeat 0px -16px;
    height: 16px; 
}
.manualdatadescblock span i.accepticon{
    background: url('../img/accepticon.png') no-repeat 0px -13px;
    height: 13px; 
}
.manualdatadescblock span i.openicon{
    background: url('../img/openicon.png') no-repeat 0px -12px;
    height: 12px; 
}
.manualdatadescblock span i.clickicon{
    background: url('../img/clicksicon.png') no-repeat 0px -16px;
    height: 16px; 
}
.manualdatadescblock.active i{
    background-position: 0 0 !important;
}

.reporttableblock{
    width: 100%;
    border: 1px solid #646262;
    padding: 20px;
    margin-top: 20px;
    min-height: 300px;
}
.reporttable{
    width: 100%;
}

.reporttable th{
    font-size: 16px;
    font-family: 'proxima_nova_rgregular';
    color: #646262;
}
.reporttable .starblock{
    
}
.starblock li{
    display: inline-block;
    margin-right: 3px;
} 
.reporttable tbody tr{
    border-bottom: 1px solid #dcdcdc; 
}
.reporttable tbody tr td{
    padding: 10px 0;
}

.reportleftimgblock{
    margin-top: 30px;
}

.reportleftimgblock img{
    width: 100%;
}





/*----- email plateform automatic 16-march new css end -----*/




@media screen and (max-width:1330px){
    .mailingtable .tchackboc {width: 25px;}
    .ttitleblock span{width: 15px;height: 15px;font-size: 11px;}
    .mailingtable tr td.greenttxt h2{font-size: 20px;}
    .mailingtable tr td p{font-size: 20px;}
    .mailingstatic p{font-size: 18px;}
    .mailingstaticlft{width: 100px;}
    .newautomaticplatform {padding: 65px 0;}
    .mailplateformnewtable thead th ,.mailplateformnewtable tbody tr td{font-size: 22px;}
    .mailplateformnewtable tbody tr td img{height: 50px;width: auto;}
    .reviewimg li i{width: 43px;height: 43px;background-size: 170px 85px;}
    .reviewimg li i.yoffimg {background-position: -43px 0;}
    .reviewimg li i.gplusimg {background-position: -84px 0;}
    .reviewimg li i.fbimg {background-position: -127px 0;}
    .reviewimg li.active i.tripimg {background-position: 0 -43px;}
    .reviewimg li.active i.yoffimg {background-position: -43px -43px;}
    .reviewimg li.active i.gplusimg {background-position: -84px -43px;}
    .reviewimg li.active i.fbimg {background-position: -127px -43px;}
    .reviewimg{margin-top: 8px;}
}
@media screen and (max-width:1280px){
    .manualbtn a.draftbtn i{background-size: 26px auto !important;}
    .manualbtn a.sentbtn i{background-size: 32px auto !important;}
    .manualbtn a{padding: 10px 20px;}
    .mailplateformnewtable thead th, .mailplateformnewtable tbody tr td{font-size: 20px;}
    .mailplateformnewtable tbody tr td span{margin-top: 8px;}
    .emailreviewblock{margin: 25px 20px;padding: 20px 10px;}
    .urlreviewblock.successful .urlreview::after{background-size: auto 20px;right: -35px;}
    .reviewtitle h2{font-size: 28px;}
    .reviewtabdetial .nav.nav-tabs a{font-size: 20px;}
    .tabdetailtitleleft h3{font-size: 20px;}
    .manual_titleblock h3, .manual_titleblock span{font-size: 13px;}
    .manual_titleblock{padding: 10px;}
}

@media screen and (max-width:1150px){
    .mailingtable tr td{padding: 15px 10px;}
}
@media screen and (max-width:1100px){
    .reviewimg li i {background-size: 140px 70px;height: 35px;width: 35px;}
    .reviewimg li i.yoffimg {background-position: -35px 0;}
    .reviewimg li i.gplusimg {background-position: -70px 0;}
    .reviewimg li i.fbimg {background-position: -105px 0;}
    .reviewimg li.active i.tripimg {background-position: 0 -35px;}
    .reviewimg li.active i.yoffimg {background-position: -35px -35px;}
    .reviewimg li.active i.gplusimg {background-position: -70px -35px;}
    .reviewimg li.active i.fbimg {background-position: -105px -35px;}
}
@media screen and (max-width:991px){
    .mailingtable tr td p {font-size: 18px;}
    .mailingstaticlft {width: 60px;}
    .mailplateformnewtable thead th, .mailplateformnewtable tbody tr td{font-size: 18px;}
    .mailplateformnewtable tbody tr td img {height: 45px;}
    .mailplateformnewtable tbody tr td span {margin-top: 5px;}
    .newautomaticplatform{padding: 50px 0;}
    .reviewtabdetial .nav.nav-tabs a{font-size: 18px;}
    .reviewtabdetial .tab-pane {padding: 20px 20px 15px;}
}
@media screen and (max-width:930px){
    .mailplateformnewtable tbody tr td img{float: none;}
    .mailplateformnewtable tbody tr td span{display: block;margin-right: 0;}
    .reviewtitle h2 {font-size: 25px;}
}
@media screen and (max-width:767px){
    .newautomaticplatform{padding: 35px 0;}
    .mailplateformnewtable thead th, .mailplateformnewtable tbody tr td{font-size: 16px;}
    .mailplateformnewtable tbody tr td img{height: 40px;}
    .selectbox select ,.urlreviewblock .urlreview input{height: 35px;line-height: 35px;}
    .reviewblockdetail p{font-size: 14px;margin: 10px 0;}
    .tabdetailtitleleft h3{font-size: 18px;}
}
@media screen and (max-width:600px){
    .tabdetailtitleleft{width: 100%;}
    .tabdetailtitleright{width: 100%;float: none;}
}
@media screen and (max-width:460px){
    .mailingtable{overflow: auto;}
    .editbtn button{width: 130px;}
    .manualbtn a{margin-left: 15px;margin-right: 10px;}
    .manualbtn a.draftbtn i{background-size: 20px auto !important;padding: 0px 15px;}
    .manualbtn a.sentbtn i{background-size: 25px auto !important;padding: 1px 18px;}
    .manualbtn a {padding: 10px 15px;}
    .mailplateformnewtable thead th, .mailplateformnewtable tbody tr td{font-size: 14px;}
    .mailplateformnewtable tbody tr td img {height: 35px;}
    .switch input.cmn-toggle-round + label{width: 75px;}
    input.cmn-toggle-round:checked + label::after {margin-left: 48px;}
    .urlreview{width: 90%;}
    .reviewimg {display: inline-block;float: none;width: 100%;}
    .emailreviewblock{padding: 10px 0;}
}
@media screen and (max-width:320px){
    .mailplateformnewtable thead th, .mailplateformnewtable tbody tr td {font-size: 13px;}
    .mailplateformnewtable tbody tr td canvas {height: 37px !important;width: 75px !important;}
}


