@import url('../fonts/stylesheet.css');

.login-page, .register-page{
    background: #0090ff;
}
.login-box, .register-box{
    width: 1050px;
}
.register-logo a img{
    width: 285px;
    height: auto;
}
.register-logo p.smalltext{
    color: #fff;
    font-family: 'latoregular';
    font-size: 13px;
    margin-top: 0 ;
}
.formstep3 p.termdetail a{
    background: none;
    padding: 0;
    font-size: 18px;
    text-decoration: underline;
    margin: 0;
    line-height: normal;
    height: auto;
}
.termblock{
    
}
.termblock input{
    display: inline-block;
    margin-right: 12px;
}

.formstep3 p.termdetail { 
    font-size: 18px;
    display: inline-block;
}
.register-logo h3 ,.formstep h3{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'latoregular';
}
.register-logo p ,.formstep p{ 
    font-size: 20px; 
    color: #fff;
    font-family: 'latoregular';
    line-height: 48px;
}
.register-logo p.smalltext a{
    text-decoration: underline;
    color: #fff;
}
.mainformblock{
    position: relative;
}
.rightimg{
    margin: 30px 0 20px;
}
.formstep1 {
    padding-top: 50px !important;
}
.has-error{
    border: 1px solid #ff0000 !important;
}
.formstep2{
    padding-top: 40px;
}
.formstep {
    padding: 100px 0 ;
    text-align: center;
}
.formstep3{
    padding-top: 50px;
}
.formstep1 .formrow{
    width:48%;
    max-width: 100%;
    margin: 0 auto 15px;
}
.formstep2{
    
}
.formstep2mainblock{
    width: 100%;
    overflow: hidden;
}
.formstep2left{
    width: 48%;
    float: left;
    margin: 0 auto;
}
.formstep2right{
    width: 48%;
    overflow: hidden;
    margin: 0 auto;
}
.formrow{  
   /* display: inline-flex;
    flex: 1 1 0;*/
    flex-flow: row nowrap;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    padding: 0 20px;
}
/*
.formrow label{
    color: #fff;
    font-family: 'latoregular';
    font-size: 24px;
    margin: 0;
    line-height: 52px;
    white-space: nowrap;
}
*/
.formrow input[type="text"], .formrow input[type="email"], .formrow input[type="password"], .formrow input[type="nvat"]{ 
    border: 2px solid #bdc3c7;
    width: 100%;
    color: rgba(52,73,94,0.6);
    font-family: 'latoregular';
    font-size: 14px;
    padding-left: 10px;
    padding-right:30px;
    height: 40px;
    border-radius: 6px !important;
}

.emailicon {
    background: #fff url("../img/mailicon.png") no-repeat scroll right center;
}
.passwordicon{
    background: #fff url("../img/lockicon.png") no-repeat scroll right center;
}
.nameicon {
    background: #fff url("../img/nameicon.png") no-repeat scroll right center;
}
.bnameicon{
    background: #fff url("../img/b_nameicon.png") no-repeat scroll right center;
}
.siranicon {
    background: #fff url("../img/sirenicon.png") no-repeat scroll right center;
}
.vaticon{
    background: #fff url("../img/vatnumicon.png") no-repeat scroll right center;
}
.phicon{
    background: #fff url("../img/phoneicon.png") no-repeat scroll right center;
}
.addicon{
    background: #fff url("../img/locationicon.png") no-repeat scroll right center;
}

.errormsg.emailicon {
    background: #fff url("../img/active_mailicon.png") no-repeat scroll right center;
}
.errormsg.passwordicon{
    background: #fff url("../img/active_lockicon.png") no-repeat scroll right center;
}
.errormsg.nameicon {
    background: #fff url("../img/active_nameicon.png") no-repeat scroll right center;
}
.errormsg.bnameicon{
    background: #fff url("../img/active_b_nameicon.png") no-repeat scroll right center;
}
.errormsg.siranicon {
    background: #fff url("../img/active_sirenicon.png") no-repeat scroll right center;
}
.errormsg.vaticon{
    background: #fff url("../img/active_vatnumicon.png") no-repeat scroll right center;
}
.errormsg.phicon{
    background: #fff url("../img/active_phoneicon.png") no-repeat scroll right center;
}
.errormsg.addicon{
    background: #fff url("../img/active_locationicon.png") no-repeat scroll right center;
}

.successmsg.emailicon {
    background: #fff url("../img/green_mailicon.png") no-repeat scroll right center;
}
.successmsg.passwordicon{
    background: #fff url("../img/green_lockicon.png") no-repeat scroll right center;
}
.successmsg.nameicon {
    background: #fff url("../img/green_nameicon.png") no-repeat scroll right center;
}
.successmsg.bnameicon{
    background: #fff url("../img/green_b_nameicon.png") no-repeat scroll right center;
}
.successmsg.siranicon {
    background: #fff url("../img/green_sirenicon.png") no-repeat scroll right center;
}
.successmsg.vaticon{
    background: #fff url("../img/green_vatnumicon.png") no-repeat scroll right center;
}
.successmsg.phicon{
    background: #fff url("../img/green_phoneicon.png") no-repeat scroll right center;
}
.successmsg.addicon{
    background: #fff url("../img/green_locationicon.png") no-repeat scroll right center;
}


.formrow.cityblock {
    overflow: hidden;
    width: 55%;
}
.formrow.zipblock {
    float: left;
    width: 45%;
}

.formstep a, .rgtbottom button{
    border-radius: 4px;
    background:#f86b4f;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 0 25px;
    margin-top: 40px;
    text-decoration: none;
}
.rgtbottom{
    text-align: center;
    width: 1170px;
    margin: 0 auto 40px;
    max-width: 94%;
}
 
 

.rgtbottom button{
    width: auto;
    border: none !important;
    border-radius: 4px !important;
    margin-bottom: 20px;
    margin-top: 30px;
}
.rgtbottom button:hover ,.rgtbottom button:focus{
    background: #f86b4f !important;
}

/*
.setupstep{
    counter-reset: step;
    margin: 0 auto 35px;
    position: absolute;
    right: 0;
    top: 240px;
    right: -210px;
}
.setupstep ul {
    margin: 0;
    padding-left: 10px;
}
.setupstep ul li i{
    margin:0 0 0 5px;
}*/
.stepblock.active::before {
    background: #f86b4f none repeat scroll 0 0;
    /*box-shadow: 0 0 0 3px white, 0 0 0 4px #f86b4f;*/
    color: #ffffff;
    height: 30px;
    right: -11px;
    line-height: 30px;
    width: 30px;
}
.stepblock.activestep::after{
    background: #dadada !important;
}
.stepblock::before {
    background: #dadada none repeat scroll 0 0;
    border-radius: 15px;
    color: #ffffff; 
    display: block;
    font-family: "colaboratelightregular",arial;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    right: -9px;
    line-height: 22px;
    margin: 5px auto;
    position: absolute;
    text-align: center;
    top: -4px;
    vertical-align: middle;
    width: 24px;
    z-index: 1;
}

.stepblock::after {
    background: #dadada none repeat scroll 0 0 !important;
    color: #ffffff;
}
.stepblock.actives::after {
    background: #f86b4f none repeat scroll 0 0 !important;
    color: #ffffff;
}
.stepblock::after {
    background: #dadada none repeat scroll 0 0;
    content: ""; 
    right: 0;
    position: absolute;
    top: 2px;
    width: 5px;
    bottom: 0;
}
 
.stepblock.active {
    color: #fff;
}
.stepblock {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none; 
    position: relative;
    text-align: left;
    text-align: right;
    padding-right: 30px;
}
 


.stepblock{
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    position: absolute;
    right: -160px;
    top: 230px;
    bottom: -25px;
}
.stepfirst::before{
    content: "1";
}
.stepsecond::before{
    content: "2";
}
.stepthired::before{
    content: "3";
}


.stepfirst{
    top: 0;
    bottom: -110px;
}
.stepsecond{
    top: 30px;
    bottom: -40px;
}
.stepthired{
    top: 30px;
    bottom:auto;
}



.stepblock.stepthired::before {
    top: 0px;
} 
.errormsg ,.successmsg{
    border: none !important;
}
.errormsg.formrow input[type="text"], .errormsg.formrow input[type="email"], .errormsg.formrow input[type="password"], .errormsg.formrow input[type="nvat"]{
    border: 2px solid #e74c3c;
}

@media screen and (max-width:1450px){
    .login-box, .register-box{width: 60%;}
}


@media screen and (max-width:1280px){
    .register-logo p, .formstep p{font-size: 18px;line-height: 35px;}
    .login-box, .register-box{margin: 3% auto;}   
    .formrow label{line-height: 48px;font-size: 22px;} 
    .formstep a, .rgtbottom button{height: 48px;line-height: 48px;margin-top: 50px;} 
    .thumbimg{width: 120px;height: auto;}
    .register-logo h3, .formstep h3{font-size: 18px;}
    /*.setupstep li{min-height: 610px;}*/
    /*.setupstep li.second {min-height: 690px;}*/
}
@media screen and (max-width:1150px){  
    .formstep a, .rgtbottom button {font-size: 16px;height: 42px;line-height: 42px;} 
    .register-logo p, .formstep p {font-size: 16px;line-height: 25px;}
    /*.setupstep li{min-height: 320px;}
    .setupstep li.second {min-height: 670px;}*/
}
@media screen and (max-width:1050px){ 
    .setupstep{right: -170px;}
    .formstep2right ,.formstep2left{width: 50%;}
    .formstep1 .formrow{width: 50%;}
}
@media screen and (max-width:991px){ 
    .formstep2right ,.formstep2left{width: 90%;float: none;}
    .formstep1 .formrow{width: 90%;}
}
@media screen and (max-width:860px){
    .login-box, .register-box {width: 50%;}
    .rgtbottom{overflow: hidden;}  
    .setupstep{top: -15px}  
    .formrow label {font-size: 19px;line-height: 42px;} 
    .formstep a, .rgtbottom button{margin-top: 20px;} 
    .register-logo a img{width: 220px;}
    /*.setupstep li {min-height: 270px;}
    .setupstep li.second {min-height: 570px;}*/
}
@media screen and (max-width:767px){ 
    .setupstep {right: -50%;} 
    .rightimg {margin: 10px 0;}
    .register-logo h3, .formstep h3 {font-size: 16px;}
    .register-logo p, .formstep p {font-size: 14px;line-height: 20px;}
}
@media screen and (max-width:700px){
    .formstep2right, .formstep2left, .formstep1 .formrow{width: 100%;}
    .stepblock{display: none;}
    .login-box, .register-box {width: 80%;}
    .formstep {padding: 30px 0;}
    .thumbimg{width: 70px;}
    .formstep1 {padding-top: 30px !important;}
    .formrow{margin-bottom: 10px;}
}
@media screen and (max-width:480px){
    .formrow{padding: 0 10px;}  
    .formstep a, .rgtbottom button {font-size: 14px;height: 36px;line-height: 36px;}
    .setupstep{display: none;}
    .mainformblock{width: 100%;}
}
@media screen and (max-width:420px){
    .login-box, .register-box {
        width: 100%;
    }
}




/************** vpagescroll -***********************/


#navigation{
    display: none;
}

.vpagescroll_navigation {
  position:fixed;
  top:50%;
  z-index:10;
  right:0px;
}

.vpagescroll_navigation ul {
  list-style: none;
  margin:0px 5px;
}

.vpagescroll_navigation ul li {
  text-align:right;
  display:block;
  margin:5px 0px;
  position: relative;
}
.vpagescroll_navigation ul li a {
  font-size: 20px;
  height:60px;
  color:#D9D9D9;display:inline-block;
  -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;
}
.vpagescroll_navigation ul li a.active i {
  font-size: 60px;
  -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;
}
.vpagescroll_navigation ul li a:hover {
  color:#E3E3E3;
}

.vpagescroll_navigation ul li a i {
  font-size: 35px;
  padding:0px 5px;
  display:inline-block;
  line-height:40px;
}

.vpagescroll_navigation ul li span {
  position:absolute;
  top:0px;right:60px;
  display:none;white-space: nowrap;
  font-size: 20px;
  line-height:40px;
  color:#fff;
  padding:0px 15px;background-color:#000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
} 

@media only screen and (max-width: 719px) {
    .main {padding-top:40px;}
    #navi_shadow{
        display:none;
    }

    .vpagescroll_navigation {top:0px;background-color:#000;left:0px;right:inherit;margin-top:0px !important;width:100%;}
    .vpagescroll_navigation ul {width:100%;text-align:center;margin:0px;padding:0px;}
    .vpagescroll_navigation ul li {display:inline-block;}
    .vpagescroll_navigation ul li a, .vpagescroll_navigation ul li a:hover {color:#fff;font-size: 16px;padding:0px 10px;height:50px; }
    .vpagescroll_navigation ul li a i {line-height:50px;}
    .vpagescroll_navigation ul li a.active i {font-size: 35px; }
    .vpagescroll_navigation ul li span {display:none !important}
}
